<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DelDish</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">

    <!-- Connect to CSS file -->
    <link rel="stylesheet" href="css/recipe_style.css">

    <!-- Font-awesome icons -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/0bd1e8befe.js" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery-1.4.1.min.js"></script>


<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body style="background-image: url(images/themeReverse.jpg);">
    
    <!-- Header -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <div class="navbar-header" >
                <a href="Main.html" class="navbar-brand" style="font-family:'Dancing Script', cursive; font-size: 60px; color: rgb(219, 90, 39);">DelDish</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="Main.html" class="nav-link bg-warning"><i class="fas fa-home" style="color: rgb(219, 90, 39);"></i> Main</a></li>
                    <li class="nav-item"><a href="About_us.html" class="nav-link bg-info"><i class="far fa-address-card" style="color: rgb(219, 90, 39);"></i> About Us</a></li>
                    <li class="nav-item active"><a href="Recipes.html" class="nav-link" ><i class="fas fa-utensils" style="color: rgb(219, 90, 39);"></i> Recipes</a></li>
                    <li class="nav-item"><a href="Contacts.html" class="nav-link bg-info" ><i class="fas fa-address-book" style="color: rgb(219, 90, 39);"></i> Contact Us</a></li>
                    <li class="nav-item"><a href="Log_in.html" class="nav-link bg-warning"><i class="fas fa-bookmark" style="color: rgb(219, 90, 39);"></i> My Recipes Book</a></li>
                    <li class="nav-item"><a href="Log_in.html" class="nav-link bg-info"><i class="fas fa-sign-in-alt" style="color: rgb(219, 90, 39);"></i> Login In</a></li>
                    <li class="nav-item"><i class="fa fa-search" aria-hidden="true" style="color: rgb(219, 90, 39); margin-top: 17px;"></i></li>
                    <input type="text" class="form-control" placeholder="Search" style="width: 20%; margin-top: 7px;">
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main part -->
    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempura.jpg" alt="img error" style="height: 200px; width: 400px;">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><h2 style="margin-left: 50px; margin-left: auto; margin-right: auto; text-align: center;">ROLL TEMPURA in Home</h2></p>
                <p class="lead"><h3 style="max-width: 300px; margin-left: auto; margin-right: auto; text-align: center;">Delicious, tender, creamy, breaded fried!</h3></p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead "><h2 style="margin-left: 50px; margin-left: auto; margin-right: auto; text-align: center; ">INGREDIENTS for 4 Portions</h2></p>
                <p class="lead"><h3 style="max-width: 300px; margin-right: auto;">MAIN INGREDIENTS:</h3></p>
                <table>
                    <tr>
                        <td>Rice...............................</td>
                        <td>225 gm</td>
                    </tr>
                    <tr>
                        <td>Water...............................</td>
                        <td>225 mliters</td>
                    </tr>
                    <tr>
                        <td>Sugar...............................</td>
                        <td>2 teaspoons</td>
                    </tr>
                    <tr>
                        <td>Salt...............................</td>
                        <td>1 teaspoon</td>
                    </tr>
                    <tr>
                        <td>Rice vinegar...............................</td>
                        <td>4.5 tablespoon</td>
                    </tr>
                    <tr>
                        <td>Crab sticks...............................</td>
                        <td>180 gm</td>
                    </tr>
                    <tr>
                        <td>Mayonnaise...............................</td>
                        <td>1 tablespoon</td>
                    </tr>
                    <tr>
                        <td>Cream cheese...............................</td>
                        <td>300 gm</td>
                    </tr>
                    <tr>
                        <td>Nori...............................</td>
                        <td>8 gm (3 leafs)</td>
                    </tr>
                </table>
                <p class="lead"><h3 style="max-width: 300px; margin-right: auto;">INGREDIENTS FOR TEMPURA:</h3></p>
                <table>
                    <tr>
                        <td>Water...............................</td>
                        <td>320 mliters</td>
                    </tr>
                    <tr>
                        <td>Salt...............................</td>
                        <td>1 teaspoon</td>
                    </tr>
                    <tr>
                        <td>Wheat flour...............................</td>
                        <td>7 tablespoons</td>
                    </tr>
                    <tr>
                        <td>Breadcrumbs...............................</td>
                        <td>150 gm</td>
                    </tr>
                </table>
                <p class="lead"><h3 style="max-width: 300px; margin-right: auto;">FOR FRYING:</h3></p>
                <table>
                    <tr>
                        <td>Vegetable oil...............................</td>
                        <td>0.5 liters</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep1.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#1.</b></p>
                <p class="lead"> How to make timber rolls? Prepare all the necessary ingredients and equipment for the preparation of rolls. From the inventory you will need a bamboo rug, food film, fryer or frying pan. Number of salt and sugar define the taste - in the composition I indicated the volumes that suit me. For some, they may be insufficient or, on the contrary, excessive</p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep2.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#2.</b></p>
                <p class="lead"> Prepare rice rolls. Use round rice or special for sushi and rolls, as it is such a rice that has the necessary gluten. Using another rice, most likely rolls will fall apart. Practice in the container and rinse it 4 times until the water becomes transparent. Next, put the rice in the pan and fill with water with a ratio of 1: 1. Press close the lid and put it on the fire.</p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep3.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#3.</b></p>
                <p class="lead"> Bring water to boil (cover during the entire cooking process). After the water boils, reduce the fire to the minimum, and continue cooking rice for 15 minutes. During this period, all fluid evaporates. After, turn off the fire and under the lid let it stand for another 10 minutes. So rice will reach the desired consistency. Ready rice increases in volume by 2 times.</p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep4.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#4.</b></p>
                <p class="lead"> Now in a separate scenery mix rice vinegar, sugar and salt. Put a saucepan, but on a slow fire, and dissolve sugar with salt in vinegar with salt, while not arguing the contents of the bucket to a boil. Take a wooden container, wipe it with wet paper towels. This is done so that rice does not stick to the tank itself.</p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep5.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#5.</b></p>
                <p class="lead"> In this container, put the welded rice. On a wooden spoon, gradually pour the finished acetic mixture, and then with a spoon, gently pour this mixture in the rice with a thin ridge throughout the rice. Wooden blade gently mix rice with refueling. Then completely cool the rice, hiding the bowl with a wet towel</p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep6.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#6.</b></p>
                <p class="lead"> Bamboo rug for rolling formation wrap the food film. It provides a high degree of hygienicity and is done for it to work comfortably, it will not stick to it and the rug will remain clean. Also, the use of a food film is the ability to extend the life of a bamboo rug. She protects him between rice rice and filling, allows you to rack the rug.</p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep7.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#7.</b></p>
                <p class="lead"> Prepare filling. Take the confectionery package and fill it with cream cheese. When used, cut the spout of the bag. Cheese is desirable to get in advance from the refrigerator so that it is easier to work with him. Crab chopsticks cut into small pieces, put it in a bowl and mix with a tablespoon of mayonnaise (spoon with a slide).</p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep8.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#8.</b></p>
                <p class="lead"> Prepare a puncture for future and tempura for future roll roasters. To do this, in the container, pour cold water into the container, add salt into it and mix them. Then add a spoon with a slide flour and knead the ingredients. Thus, adding the entire volume of flour, mix so that there is no lumps, having obtained a homogeneous calcium. Panco breadcrumbs Point into another capacity (use the one in which the rolls will be comfortable).</p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep9.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#9.</b></p>
                <p class="lead"> Start assembling rolls. Put on the nori mat glossy side down. Prepare hand wetting fluid. To do this, in a small bowl, pour rice bite and water in proportion 1: 3. Wetting hands in such a solution, it will be comfortable to work with rice. It is better to use filtered water, as it directly enters the consumption product.</p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep10.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#10.</b></p>
                <p class="lead"> So, distribute a third of 1/3 of the welded rice evenly on the nori sheet, leaving its parts empty 2/3. In the figure, lay out 1/3 of butter and a mixture of crab sticks with mayonnaise.</p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep11.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#11.</b></p>
                <p class="lead"> When the roll filling is posted, start forming a roll. To do this, twist it, press the roll of the mat. Nori leaf, which without rice, blot with water for reliable fastening of the entire design. Roll a round shape. Putting a roll to the edge, pick up the side of his side. Do it with one and on the other hand. Thus, form 2 more rolls.</p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep12.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#12.</b></p>
                <p class="lead"> Scrupped rolls cut in half. Now dip the edges of the rolls in the previously prepared Clar, then plunge the roll itself. Next, cut it in breadcrumbs. Vegetable oil pour into a frying pan, pan or fryer. Heat the oil to 150-160 ° C and fry alternately in it rolls for 30-40 seconds.</p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep13.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#13.</b></p>
                <p class="lead"> Fry to golden color. I used the fryer and rolls were completely in oil. If fry in a skillet, and the oil does not completely cover rolls, then during frying twist them so that they are evenly roasted and had the same golden color from all sides.</p>
            </div>
        </div>
        <div class="row jumbotron">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                <img src="images/tempuraStep14.jpg" alt="img error">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
                <p class="lead"><b> Step#14.</b></p>
                <p class="lead"> Grinding roles immediately on the dish or, a little colder, each roll cut into pieces (for convenience). Serve Rolls with Wasabi, Soy Sauce and Marinated Ginger</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="container-fluid">
        <div class="container-fluid">
            <div class="row padding text-center">
                <div class="col-12">
                    <h2>Social Media</h2>
                </div>
                <div class="col-12 social padding">
                    <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2021 Copyright:
                <a class="text-white" href="#">IITU.kz</a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="loadPage.js"></script>
    
</body>
</html>